
/* start our-trainer section */
section.trainer {
    padding: 0 30px;
    width: 100%;
    text-align: center;
    background: #333;
  }

  .trainer a {
    text-decoration: none;
  }
  
  .trainer h3 {
    display: inline-block;
    color: #fff;
  }
  
  .trainer .col-md-4 {
    width: 23%;
    margin: 10px;
    height: 400px;
    border: 5px solid var(--orange);
    padding: 0%;
    position: relative;
    box-shadow: 0 0.3rem 0.5rem #000;
  }
  
  .trainer .col-md-4:hover img {
    transform: scale(1.1);
  }
  
  .trainer .col-md-4:hover img {
    transition: all 1s;
  }
  
  .col-md-4 .title {
    font-size: larger;
    background-color: #fff;
    color: #333;
    bottom: 0px;
    left: 0%;
    right: 0%;
    position: absolute;
    padding: 10px;
    border-top: 5px solid var(--orange);
  }
  
  .col-md-4 .icon {
    display: block;
    position: absolute;
    top: 20px;
    font-size: larger;
    right: -60px;
    transition: all 1s;
    z-index: 1;
  }
  
  .trainer .col-md-4:hover .icon {
    right: 10px;
  }
  
  .col-md-4 .icon a {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-4 .icon a:hover {
    background-color: var(--orange);
    color: #fff;
  }
  
  /* end our-trainer section */
  