
/* start-home */
.home {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.66)),
      url('../assets/gm6.jpg');
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  }
  
  .home h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 3px;
  }
  .home .btn {
    margin-top: 20px;
    padding: 10px 20;
    color: #fff;
    border: 2px solid var(--orange);
    display: inline-block;
    transition: all 1s;
    cursor: pointer;
  }
  
  .home .btn:hover {
    background-color: #ff9f1a;
  }
  /* end-home */
  